.reelPoster {
   display: inline-block;
   display: flex	!important;
   justify-content:space-between !important;
}

img ~ img {
  margin-left: 10px;
}

h2.ui.header {
  padding-top: 50px;
}

.moviePoster {
	width: 50%	!important;
	height: 50%	!important;
}

.container {
	margin-top: 30 !important;
}
