<template name="Footer">
<!--  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
        <hr>
        School of Engineering and Computer Science <br />
        Washington State University Vancouver <br />
        Vancouver, WA 98686
    </div>
  </footer> -->
  <footer>
  <section class="link">
    <!--
        <div class="ui centered compact container">
      <div class="netflixLogo" style="margin-left: -30px;">
            <a class="logo" href="#home"><a class="logo" href="#home" style="color: yellow;">Yellix</a></a>
          </div>
    <div class="sub-links">
      <ul>
        <li><a href="/about">Help Center</a></li>
        <li><a href="/about">We Ain't Hiring</a></li>
        <li><a href="/about">Terms of Use</a></li>
        <li><a href="/about">Privacy</a></li>
        <li><a href="/about">Legal Notices</a></li>
        <li><a href="/about">Contact Us</a></li>
      </ul>
    </div>
    </div>
    <div class="ui center aligned centered compact grid container">
      <div style="margin-bottom: -22px" class="row">
        <div class="fifteen wide column">
          <hr style="color: white; background-color: white">
        </div>
      </div>
      <div class="equal width row" style="">
        <div class="column">
          <a href="/about">Help Center</a>
        </div>
        <div class="column">
          <a href="/about">We Ain't Hiring</a>
        </div>
        <div class="column">
          <a href="/about">Terms of Use</a>
        </div>
        <div class="column">
          <a  href="/about">Privacy</a>
        </div>
        <div class="column">
          <a href="/about">Legal Notices</a>
        </div>
        <div class="column">
          <a href="/about">Contact Us</a>
        </div>
      </div>
      <div class="row" style="margin-top: -22px">
        <div class="fifteen wide column">
          <hr style="color: white; background-color: white">
        </div>
      </div>
      <div class="one column row">
        <div class="column">
          <span class="text"><i class="inverted fitted copyright outline icon"></i>
          2018, Yellix Movies, LLC</span>
        </div>
      </div>
    </div>-->
    <div style="" class="ui centered footerContainer container">
      <ul class="Flex">
        <li class="Flex-item"><a href="/about">Help Center</a></li>
        <li class="Flex-item"><a href="/about">We Ain't Hiring</a></li>
        <li class="Flex-item"><a href="/about">Terms of Use</a></li>
        <li class="Flex-item"><a href="/about">Privacy</a></li>
        <li class="Flex-item"><a href="/about">Legal Notices</a></li>
        <li class="Flex-item"><a href="/about">Contact Us</a></li>
      </ul>
    </div>
    <div class="ui center aligned centered container">
      <span class="text"><i class="inverted fitted copyright outline icon"></i>
                          2018, Yellix Movies, LLC</span>
    </div>
  </section>
  </footer>
</template>
