<template name="Footer">
<!--  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
        <hr>
        School of Engineering and Computer Science <br />
        Washington State University Vancouver <br />
        Vancouver, WA 98686
    </div>
  </footer> -->
  <section class="link">
    <div class="netflixLogo" style="margin-left: -30px;">
      <a class="logo" href="#home"><a class="logo" href="#home" style="color: yellow;">Yellix</a></a>
    </div>
    <div class="sub-links">
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">We Ain't Hiring</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Legal Notices</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </section>
</template>
