<template name="Header">
  <header>
    <div class="netflixLogo" style="margin-top: -10px;">
      <!--<a id="logo" href="#home"><img src="https://cdn.discordapp.com/attachments/496068820956479498/518587430077595736/Yellix_Logo_1.png" alt="Logo Image"></a>-->
      <a class="logo" href="#home" style="color: yellow;">Yellix</a>
    </div>
    <nav class="main-nav">
      <a class="item navHead" href="{{pathFor 'Home_Page'}}">Home</a>
      <a class="item navHead" href="{{pathFor 'About_Page'}}">About</a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Home_Page'}} item navHead" href="{{ pathFor 'Home_Page' }}">Billing</a>
      {{/if}}
    </nav>
    <nav class="sub-nav">
      <!-- looks weird right now still need to finalize layout
          <form>
            <div class="ui action input">
            <a><input  name="searchBar" type="text" placeholder="Search...">
            <button type="submit"><i class="fas fa-search sub-nav-logo"></i></button></a>
            </div>
          </form>-->
      <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </nav>
  </header>
</template>
