<template name="Header">
  <header>
    <div class="netflixLogo" style="margin-top: -10px;">
      <!--<a id="logo" href="#home"><img src="https://cdn.discordapp.com/attachments/496068820956479498/518587430077595736/Yellix_Logo_1.png" alt="Logo Image"></a>-->
      <a class="logo" href="#home" style="color: yellow;">Yellix</a>
    </div>
    <nav class="main-nav">
      <a class="item navHead" href="{{pathFor 'Home_Page'}}">Home</a>
      <a class="item navHead" href="{{pathFor 'About_Page'}}">About</a>
    </nav>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      {{/if}}
    <nav class="sub-nav">
      <a class="{{ isActiveRoute 'Search_Page' }} item" href="{{ pathFor 'Search_Page' }}"><i class="fas fa-search sub-nav-logo"></i></a>
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </nav>
  </header>
</template>
